/*	STYLE.CSS	*/


div {
	color: pink;
}

p{
	color: brown;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: 400;
	text-align: center;
	/* font-family:'Courier New', Courier, monospace; */
}
/* 
.alert-text.urgent{
	color: white;
	background-color: black;
} */

.urgent{
	background-color: black;
}

.sub#preview{
	background-color: goldenrod;
}


.ancestor .contents{
	color: blue;
	background-color: yellow;
}

/*
.alert-text,
.urgent{
	color: red;
	background-color: black;				THIS IS ALSO VALID!!
}
*/


#Header {
	background-color: black;
	border: 5px solid yellowgreen;
  	color: yellowgreen;
  	padding: 40px;
	text-align: center;
  }

img{
	height: 500px;
	width: auto;
	align-content: center;
}